body
{
	background: #e3e7f0;
}

.navbar-custom
{
	background: #FFFFFF;
	border-bottom: 1px solid #970909;
}
.center-block {float: none !important}

.navbar-icons.navbar .navbar-brand
{
	margin-top: auto !important ;
	margin-bottom: auto !important ;
}
.parallax .small-info h1 {
	font-size: 50px;
}